.header__title {
  width: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 64px;
  position: relative;
  z-index: 5;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
